
<% if notice == "Gossip successfully created!" %>
  <div class="alert alert-success" role="alert">
  <p> Gossip saved </p>
  </div>
  <% end %>


<body>
    <h4 class="h3 text-center mt-3 mb-4 ml-3"> Bienvenue au site THE GOSSIP PROJECT</h4>
    <div class="text-center mt-3 mb-4 ml-3">
    </div>
    <section class="container mt-4 mb-4">
      <h5 class="text-center mt-4 mb-4">The Gossips are:</h5>

      <center><%= link_to "Créer un gossip", new_gossip_path, :class => "btn btn-primary my-2" %>
      
        <div  class="card-deck mb-3 d-flex justify-content-between">
          <% @gossips.each.with_index(1) do |gossip, index| %>
            <div class="col-sm-6 mt-4 mb-4">
              <div class="card">
                <div class="card-body d-flex align-items-center flex-column">
                  <h5 class="card-title"><%= link_to "Gossip n°#{index}", gossips_path(gossip.id) %></h5>
                  <p class="card-text"><%= gossip.title %></p>
                  <p class="card-text"><small class="text-muted">Author: <%= gossip.user.first_name %></small></p>
                  <%= link_to "view the full gossip", gossip_path(gossip.id), :class =>"btn btn-primary" %>
                </div>
              </div>
            </div>
          <%end %>
        </div>
  </section>
</body>